<md-menu md-position-mode="target-right bottom">
  <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
    <i class="{{icon}}"></i>
  </md-button>
  <md-menu-content style="overflow: hidden;">
    <md-menu-item ng-repeat="item in options">

      <md-button ng-if="!item.subItems" ng-click="item.action()" md-menu-origin>
        <i ng-class="item.icon"></i>
        <span style="padding-left: 5px">{{ item.name }}</span>
      </md-button>

      <md-menu ng-if="item.subItems" style="padding: 0 0" md-position-mode="target-right bottom">
        <md-menu-item>
          <md-button md-menu-origin>
            <i ng-class="item.icon" ng-click="$mdOpenMenu();item.action();"></i>
            <span style="padding-left: 5px">{{ item.name }}</span>
          </md-button>
        </md-menu-item>
        <md-menu-content>
          <md-menu-item ng-repeat="subItem in item.subItems">
            <md-button ng-click="subItem.action()">
              <i ng-class="subItem.icon"></i>
              <span style="padding-left: 5px">{{ subItem.name }}</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    </md-menu-item>
  </md-menu-content>
</md-menu>